.crt pre {
  color:var(--primary-color);
  padding:1rem -10px;
  text-shadow:var(--primary-color-alpha) 0 0 4px,var(--primary-color) 0 0 12px;
  background-color:unset;
  box-shadow:unset;
  margin:unset;
  text-align: center !important;
  white-space: pre-wrap !important;
  animation:flicker 250ms alternate infinite
}
@keyframes flicker {
  from {
    opacity:1
  }
  25% {
    opacity:.95
  }
  50% {
    opacity:.85
  }
  75% {
    opacity:1
  }
  to {
    opacity:.9
  }
}
@media (prefers-reduced-motion) {
  .crt pre {
    animation:none
  }
}
.scanlines {
  position:relative;
  overflow:hidden
}
.scanlines::before {
  animation:scanlines 250ms linear infinite;
  background:repeating-linear-gradient(to top, rgba(0,0,0,.25), rgba(0,0,0,.25) 1px, rgba(0,0,0,0) 3px, rgba(0,0,0,0) 4px);
  content:"";
  display:block;
  height:calc(100% + .5rem);
  left:0;
  pointer-events:none;
  position:absolute;
  top:0;
  width:100%;
  z-index:1
}
@keyframes scanlines {
  from {
    transform:translateY(-.5rem)
  }
  to {
    transform:translateY(0)
  }
}
@media (prefers-reduced-motion) {
  .scanlines::before {
    animation:none
  }
}
.scanlines::after {
  animation:scanline 5s linear infinite;
  background:linear-gradient(to top, rgba(0,0,0,0) 0%, var(--primary-color-alpha) 10%, rgba(0,0,0,0) 100%);
  bottom:100%;
  content:"";
  display:block;
  height:8rem;
  left:0;
  pointer-events:none;
  position:absolute;
  width:100%
}
@keyframes scanline {
  from {
    bottom:100%
  }
  50% {
    bottom:100%
  }
  to {
    bottom:-8rem
  }
}
@media (prefers-reduced-motion) {
  .scanlines::after {
    animation:none
  }
}
.cursor {
  animation:cursor-blink 1s infinite
}
@keyframes cursor-blink {
  from {
    opacity:1
  }
  50% {
    opacity:0
  }
  75% {
    opacity:1
  }
}
@media (prefers-reduced-motion) {
  .cursor {
    animation:none
  }
}
#site-footer {
  text-align:center;
  padding:3rem 0 3rem;
  font-size:1rem;
  margin-top:4rem
}
#site-footer details {
  all:unset;
  color:var(--fg-muted-5);
  font-size:.8rem
}
#johnvertisement {
  margin:0 auto;
  display:block;
  width:min(728px,100vw);
  height:min(90px,12.367vw);
  border:none
}
.link-page::after {
  content:" →"
}
.link-site::after {
  content:" ↗"
}
img,
video {
  border-radius:var(--rounded-corner);
  box-shadow:var(--shadow);
  display:block;
  margin:1rem auto;
  max-width:100%
}
img.full,
video.full {
  width:100%
}
img.pixels,
video.pixels {
  image-rendering:pixelated
}
img.transparent,
video.transparent {
  border-radius:0;
  box-shadow:none
}
img {
  transition:var(--transition-longer)
}
img:not(.no-hover) {
  cursor:zoom-in
}
img:not(.no-hover):hover {
  border-radius:0;
  box-shadow:var(--shadow-raised);
  transform:scale(1.1)
}
#site-nav {
  -webkit-backdrop-filter:saturate(180%) blur(10px);
  backdrop-filter:saturate(180%) blur(10px);
  background-color:var(--nav-bg);
  border-radius:26px;
  box-shadow:inset 0 1px 0 rgba(255,255,255,.1),0px 12px 24px -16px rgba(0,0,0,.5);
  margin:1rem auto;
  position:sticky;
  top:1rem;
  max-width:min(var(--content-width) + 10rem,90%);
  z-index:999
}
#site-nav nav {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  padding:.5rem
}
#site-nav nav ul {
  display:flex;
  flex-wrap:wrap;
  gap:.25rem;
  justify-content:center;
  margin:0;
  padding:0
}
#site-nav nav li {
  list-style:none;
  display:inline-flex
}
#site-nav nav a {
  border-radius:999px;
  color:var(--fg-muted-4);
  padding:.325rem .75rem;
  text-decoration:none;
  transition:var(--transition)
}
#site-nav nav a:hover {
  background-color:var(--fg-muted-1);
  color:var(--primary-color);
  text-decoration:none
}
#site-nav nav a:active {
  transform:scale(var(--active))
}
#site-nav nav #main-content {
  background:var(--bg-color);
  position:absolute;
  transform:translateY(-200%);
  z-index:999
}
#site-nav nav #main-content:focus {
  transform:translateY(0)
}
#site-nav nav #home {
  position:relative;
  margin-right:.625rem
}
#site-nav nav #home::after {
  background-color:var(--fg-muted-2);
  content:"";
  height:110%;
  position:absolute;
  right:-.5rem;
  top:0;
  width:1px
}
#site-nav nav #home a {
  font-weight:800;
  color:var(--fg-muted-5)
}
#site-nav nav #home a:hover {
  color:var(--primary-color)
}
#site-nav nav #feed a {
  padding:.325rem .625rem
}
#site-nav nav #feed a svg {
  vertical-align:-.125em
}
#site-nav nav #feed a span {
  display:none
}
#not-found {
  width:100%;
  padding-top:1rem;
  padding-right:35%;
  padding-left:35%;
  padding-bottom:1rem
}
#post-nav {
  display:flex
}
#post-nav .post-nav-item {
  width:50%;
  text-decoration:none
}
#post-nav .post-nav-item:hover .post-title {
  color:var(--primary-color)
}
#post-nav .post-nav-item:nth-child(2n+1) {
  padding-left:0;
  padding-right:1rem
}
#post-nav .post-nav-item:nth-child(2n) {
  text-align:right;
  padding-left:1rem;
  padding-right:0
}
#post-nav .post-nav-item .nav-arrow {
  font-weight:normal;
  color:var(--fg-muted-5);
  margin-bottom:.5rem
}
#post-nav .post-nav-item .post-title {
  color:var(--fg-color);
  transition:var(--transition)
}
#qrcode {
  background-color:#fff;
  float:right;
  height:155px;
  margin:3rem 0 0 1rem;
  padding:15px;
  width:155px
}
@media only screen and (max-width: 720px) {
  .crt pre {
    font-size: 2.5vw;
    margin: 1rem -0.5rem;
  }
  #qrcode {
    display:none
  }
}
.statement-container {
  margin:1rem 0 1rem;
  padding:1rem 1rem .5rem 1rem;
  border-radius:var(--rounded-corner)
}
.statement-container * {
  margin:0
}
.statement-container p,
.statement-container ul,
.statement-container ol {
  margin:.5rem 0 .5rem
}
.statement-container .big {
  font-size:1.5rem
}
.statement-container.archive {
  background-color:var(--purple-bg);
  color:var(--purple-fg)
}
.statement-container.disclaimer {
  background-color:var(--red-bg);
  color:var(--red-fg)
}
.statement-container.trigger {
  background-color:var(--yellow-bg);
  color:var(--yellow-fg)
}
.tags {
  list-style:none;
  padding:0;
  display:inline-block
}
.tags li {
  display:inline-block;
  margin:0 .25rem .5rem 0;
  transition:var(--transition)
}
.tags li:active {
  transform:scale(var(--active))
}
.tags .tag {
  background-color:var(--fg-muted-1);
  border-radius:999px;
  color:var(--fg-color);
  padding:.25rem .75rem;
  text-decoration:none;
  transition:var(--transition)
}
.tags .tag:hover {
  color:var(--primary-color);
  background-color:var(--primary-color-alpha);
  text-decoration:none
}
.tags .tag::before {
  content:"#"
}


