{% extends "duckquill/templates/blog_list.html" %}

{% block custom %}
<div class="crt scanlines">
<pre>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡤⠤⠐⠒⠒⠒⠒⠚⠷⢤⣤⣀⣠⡤⠖⠒⠒⠚⠓⠒⠮⢤⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⠞⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠙⢿⣄⠀⠀⠀⠀⠀⠀⠀⠀⠉⠻⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⡾⠁⠀⠀⠀⠀⠀⠀⠀⢀⣤⣤⣤⣤⣤⣀⣀⠙⢷⡀⠀⠀⠀⣠⣤⣤⣀⣀⠈⠻⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⡞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠁⠀⠀⠀⠈⠉⠉⠛⢿⣿⡄⠀⠀⠀⠀⠀⠉⠉⠙⠻⣾⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢀⡼⠁⠀⠀⠀⠀⠀⠀⠀⣀⣤⡶⠾⠗⠀⠀⠀⠀⠀⠀⠀⠈⢻⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⣷⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⣠⠏⠀⠀⠀⠀⠀⠀⠀⣠⡾⠛⣁⣠⡴⠶⠿⠛⠛⠛⠷⠶⢦⣄⣘⠻⣷⡄⡴⠞⢋⣀⣠⣤⣤⣌⣛⡿⣦⣀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⣼⠋⠀⠀⠀⠀⠀⠀⢠⡾⢋⣤⡾⠋⠁⠀⠀⠀⢀⣀⣠⣤⣄⡀⠈⠙⠷⣮⣿⣤⠾⠛⠉⠀⠀⠀⠀⠉⠻⢿⣿⡆⠀⠀⠀⠀
⠀⠀⢀⣾⠃⠀⠀⠀⠀⠀⠀⠀⣿⣥⡾⠋⠀⠀⠀⠀⠀⣠⡞⠉⠀⣽⣿⣷⡄⠀⠀⣿⠋⠀⠀⠀⢠⠴⠚⣿⣶⣄⠀⠈⢻⡇⠀⠀⠀⠀
⠀⠀⣼⠃⠀⠀⠀⠀⠀⠀⠀⠐⢿⣇⡀⠀⠀⠀⠀⠀⠀⢿⣿⣶⣿⣿⣿⣿⡇⠀⠀⣿⠂⠀⠀⠀⣿⣤⣴⣿⣿⣿⠆⠀⢸⡇⠀⠀⠀⠀
⠀⢠⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⡉⠛⣶⣄⠀⠀⠀⠀⠀⠛⠿⣿⣿⠿⠛⠀⠀⢀⣿⠀⠀⠀⠀⠈⠻⢿⣿⠿⠛⠀⠀⣼⡇⠀⠀⠀⠀
⠀⢸⠃⠀⢠⣶⠟⠛⠷⠖⠒⠶⣬⡻⢶⣌⡉⠓⠶⣦⣤⣄⣀⣀⣀⣀⣤⣤⣶⠶⢛⣿⣿⣶⣄⡀⠀⠀⠀⠀⠀⣀⣤⡾⠛⡇⠀⠀⠀⠀
⠀⢸⣀⣴⠟⠁⠀⠀⠀⠀⠀⠀⠈⠻⣦⣭⣙⠷⠆⠀⠈⠉⠉⠉⠉⠉⠉⠁⠀⣾⡿⠁⠈⠛⢿⣍⠛⠛⠛⠛⠋⠉⢉⣠⣾⡇⠀⠀⠀⠀
⠀⣾⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢹⣄⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⠟⠋⠀⠀⠀⠀⠀⠻⣿⡶⠆⠀⠀⠀⠀⠀⢻⡇⠀⠀⠀⠀
⣼⡿⠀⠀⠀⢀⣀⣠⣴⡶⠿⠿⠿⠛⠛⠛⠛⢿⣷⣄⣘⠛⠛⠛⠋⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠋⠀⠀⠀⣀⣀⣤⡾⣿⡄⠀⠀⠀
⣿⠀⣀⣤⡾⠟⠛⠉⠀⣀⣀⣤⣤⣤⠴⢶⣶⠿⢿⣿⠛⠿⠶⢦⣤⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣠⣤⡴⠶⠿⠛⠉⢁⣰⡿⠃⠀⠀⠀
⢻⣿⠋⠁⣀⣤⣴⣶⢿⣿⠉⢹⣏⣧⠀⠘⢿⣧⢸⣿⣷⣤⣄⣀⠀⠈⠉⠉⠙⠛⠛⠛⠛⠛⠋⠉⠁⠀⢀⣠⣤⣴⣾⣿⣭⣀⣀⡀⠀⠀
⠹⣷⡞⠿⢿⡁⢘⣿⣼⣿⠀⠈⢿⣿⣆⠀⠸⣿⡆⢿⣯⡉⠛⠛⠛⠿⠶⢶⣤⣤⣤⣤⣤⣤⣤⣴⣶⣿⣿⣿⡟⠛⠻⣇⠀⠈⠉⢻⡀⠀
⢠⡿⣷⣤⣾⠿⠛⠛⠛⢻⣧⠀⠘⢿⣿⠀⠀⢿⣿⠘⣿⡿⢷⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⢈⣿⣿⣿⣿⣿⠀⠀⠀⢸⣿⣷⡀⠸⣷⠀
⢸⣷⡿⠋⠀⢀⣠⣴⣶⢾⣿⣇⠀⢸⣿⣇⠀⠘⣿⣇⢸⡿⣶⣮⣭⣉⡛⠛⠛⠛⠛⠛⠛⠛⠛⠛⢉⣽⣿⡌⠉⣶⡶⠋⠉⠉⠙⠁⢻⡇
⣸⡏⠀⠀⠈⠉⠉⢀⣀⣤⣾⣿⠀⠀⢻⣿⡆⠀⢹⣿⡼⣷⠀⠈⠉⠉⠙⠛⠛⠻⠶⠶⠶⠖⠛⠛⠋⠉⢹⣷⢰⣟⣠⡶⠒⠲⠆⠀⢸⣿
⢸⡇⠀⠀⠀⠰⠛⠋⠉⢀⣾⣿⣧⠀⠀⣿⣿⠀⠘⣿⡇⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣾⣏⢸⣿⠁⠠⣤⠄⠀⠀⣸⡿
⠈⢿⡄⠀⠀⠠⠶⠛⢻⣿⠛⣿⡻⣇⠀⠸⣿⡆⠀⢹⣇⣸⡷⠶⠤⠤⠤⠤⠤⠤⠴⠶⠶⠒⠛⠋⠁⠀⠀⠻⣦⣽⡾⠁⢀⣀⠀⠀⣿⠇
⠀⠀⠻⣦⣄⣠⣶⣾⠿⠃⠀⠘⣧⣿⣤⣶⠿⠿⡿⣿⣿⠿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡧⠀⠻⠙⠃⣸⠏⠀
⠀⠀⠀⠈⠙⠛⠛⢿⣀⣴⣴⠾⠟⣋⣉⣀⣤⡾⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠳⢤⣤⡴⠾⠋⠀⠀
⠀⠀⠀⠀⠀⠀⠀⢈⢿⣿⣴⣾⣿⣟⣛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</pre>
</div>
{% endblock custom %}
